* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto', sans-serif;
}

body {
    background-color: #E5E5E5;
}


.container {

    text-align: center;
    background: #2b1d11;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 896px;
    width: 414px;
    left: 986px;
    top: 127px;
    border-radius: 40px;
    border-color: #0f0701;
    border: 15px;
    box-shadow: 2px 0px 2px 5px #F18836;

}

h1 {
    color: #ffff;
    font-size: 29px;
    line-height: 39px;
    width: 88px;
    height: 41px;
    margin-left: 47px;
    padding-top: 57px;
    display: flex;



}

img {

    margin-top: 80px;
    border-radius: 2px;
}

.home {
    margin-right: 150px;
}


section {


    width: 414px;
    height: 450px;
    left: 0px;


    background: #503a1d 20%;
    border-radius: 20px 20px 0px 0px;
}

h2 {

    color: #ffff;
    font-size: 25px;
    line-height: 39px;
    width: 88px;
    height: 41px;
    margin-left: 47px;
    margin-top: 46px;

}


.options {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 158px;
    height: 206px;
    margin-left: 34px;
    margin-top: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #D6F1FD;
    padding-top: 57px;
    gap: 25px;

}

.buttons-positions {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 158px;
    height: 206px;
    margin-left: 276px;
    margin-top: -208px;
    padding-top: 57px;
    gap: 21px;


}

button {
    

    background-color: #0f0701;
    color: #D6F1FD;
    font-size: 20px;
    border-color: #F18836;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    width: 100px;
    height: 40px;
    border-radius: 9px;


}



footer {


    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    background-color: black;
    width: 414px;
    height: 70px;
    margin-top: -50px;
    border-radius: 25px;
    padding-bottom: 15px;
}

.imgs1 footer.sobrepor img {

    position: absolute;
    padding-bottom: 80px;

}

img.book {

    margin-block-start: auto;
    margin-top: 55px;
}

img.house {

    margin-inline-start: auto;
    margin-left: -150px;

}


img.user {

    margin-inline-start: auto;
    margin-left: 150px;

}